<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperación de Contraseña</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
      color: #333;
    ">
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      ">
      <h2 style="text-align: center; color: #4caf50">
        Recuperación de Contraseña
      </h2>
      <p>Hola,</p>
      <p>
        Has solicitado restablecer tu contraseña. Haz clic en el botón a
        continuación para proceder con el proceso de recuperación:
      </p>
      <div style="text-align: center; margin: 20px 0">
        <a
          href="{{URL_RECUPERACION}}"
          style="
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #ffffff;
            background-color: #4caf50;
            text-decoration: none;
            border-radius: 5px;
          "
          >Recuperar Contraseña</a
        >
      </div>
      <p>
        Si no solicitaste un cambio de contraseña, puedes ignorar este correo.
      </p>
      <p style="margin-top: 20px; color: #777">
        Saludos,<br />El equipo de Soporte de Wonder Peak
      </p>
    </div>
  </body>
</html>
